<div class="body">
    <div class="body__grid">
        <div id="gridPlaceholder" style="grid-row: span 8; grid-column: span 10"></div>
        <div id="digitalDisplayPlaceholder" style="grid-row: span 3; grid-column: span 2"></div>
        <div style="grid-row: span 3; grid-column: span 2">Gauge</div>
        <div style="grid-row: span 6; grid-column: span 2">Text</div>
        <div style="grid-row: span 4; grid-column: span 8">Chart</div>
        <div style="grid-row: span 4; grid-column: span 2">Flat Display</div>
    </div>
</div>