<div class="body">
    <div class="body__grid">
        <div id="gridPlaceholder" style="grid-row: span 8; grid-column: span 10"></div>
        <div id="digitalDisplayPlaceholder" style="grid-row: span 3; grid-column: span 3"></div>
        <div id="gaugePlaceholder" style="grid-row: span 5; grid-column: span 3"></div>
        <div style="grid-row: span 4; grid-column: span 4">Text</div>
        <div style="grid-row: span 4; grid-column: span 5">Chart</div>
        <div id="flatDisplayPlaceholder_One" style="grid-row: span 2; grid-column: span 3"></div>
        <div id="flatDisplayPlaceholder_Two" style="grid-row: span 2; grid-column: 11 / span 3"></div>
    </div>
</div>