.footer {
    width: 100%;
    height: 30px;
    background-color: $ColorPrimary;
}

.footer__tabs-wrapper {
    font-size: 1.6rem;
    letter-spacing: 2px;
    color: $ColorFont;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
}

.footer__tabs-tab {
    @include elipsis;
    width: 120px;
    margin-right: 1rem;
    text-align: center;
}