.config-section {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 20%;
	background-color: var(--color-background--dark);
	border-right: 2px solid var(--color-primary);
	border-top: 2px solid var(--color-primary);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 4px 0px 4px 0px var(--color-primary);
	transition: opacity 0.5s ease-out;
	opacity: 0.9;

	&--hidden {
		opacity: 0;
	}

	&__title {
		color: var(--color-secondary);
		text-align: center;
		margin-bottom: 25px;
	}

	&__section {
		padding-left: 10px;
	}

	&__section-title {
		color: var(--color-primary);
	}

	&__section--theme {
		text-align: center;
	}
}
