$ColorBackground: #212121;
$ColorBackgroundDarker: #000000;
$ColorBackgroundLighter: #303030;

$ColorPrimaryLighter: #B1E1E4;
$ColorPrimary: #40FEFF;
$ColorPrimaryDarker: #209090;

$ColorSecondaryLighter: #9b4dcb;
$ColorSecondary: #691b99;
$ColorSecondaryDarker: #37006a;