$ColorBackground: #212121;
$ColorBackgroundDark: #000000;
$ColorBackgroundLight: #303030;

$ColorPrimaryLight: #B1E1E4;
$ColorPrimary: #40FEFF;
$ColorPrimaryDark: #209090;

$ColorSecondaryLight: #ffffff;
$ColorSecondary: #ffffff;
$ColorSecondaryDark: #ffffff;