:root {
	--color-primary--light: #c8ffff;
	--color-primary: #40feff;
	--color-primary--dark: #004040;
	--color-primary--extra-dark: #001e1e;

	--color-secondary--light: #ffffff;
	--color-secondary: #ffffff;
	--color-secondary--dark: #ffffff;

	--color-background--light: coral;
	--color-background: coral;
	--color-background--dark: #000000;

	--color-danger: coral;
	--color-success: coral;
	--color-warning: coral;

	--color-font: #ffffff;
}

:root [theme="light"] {
	--color-primary--light: coral;
	--color-primary: #64b5f6;
	--color-primary--dark: #062e6d;
	--color-primary--extra-dark: coral;

	--color-secondary--light: coral;
	--color-secondary: #000000;
	--color-secondary--dark: coral;

	--color-background--light: coral;
	--color-background: coral;
	--color-background--dark: #ffffff;

	--color-danger: coral;
	--color-success: coral;
	--color-warning: coral;

	--color-font: #000000;
}
