<div class="arc-reactor">
    <div class="arc-reactor__container">
        <!-- dark circle behind the reactor -->
        <div class="arc-reactor__container-inner arc-reactor__circle arc-reactor__abs-center"></div>
        <!-- the largest circle -->
        <div class="arc-reactor__tunnel arc-reactor__circle arc-reactor__abs-center"></div>
        <!-- the third circle -->
        <div class="arc-reactor__core-wrapper arc-reactor__circle arc-reactor__abs-center"></div>
        <!-- the second circle -->
        <div class="arc-reactor__core-outer arc-reactor__circle arc-reactor__abs-center"></div>
        <!-- the smallest circle -->
        <div class="arc-reactor__core-inner arc-reactor__circle arc-reactor__abs-center"></div>
        <div class="arc-reactor__coil-container">
            <div class="arc-reactor__coil arc-reactor__coil-1"></div>
            <div class="arc-reactor__coil arc-reactor__coil-2"></div>
            <div class="arc-reactor__coil arc-reactor__coil-3"></div>
            <div class="arc-reactor__coil arc-reactor__coil-4"></div>
            <div class="arc-reactor__coil arc-reactor__coil-5"></div>
            <div class="arc-reactor__coil arc-reactor__coil-6"></div>
            <div class="arc-reactor__coil arc-reactor__coil-7"></div>
            <div class="arc-reactor__coil arc-reactor__coil-8"></div>
        </div>
    </div>
</div>